body {
	font-family: 'Sedgwick Ave', cursive;
	background: #00F260;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
	margin: 0;
	padding: 10px 20px 5px;
	color: white;
	background-color: #2980b9;
	font-weight: normal;
	font-size: 25px;
	font-family: 'Sedgwick Ave', cursive;
}

.fa {
	float: right;
}

#container {
	width: 360px;
	margin: 100px auto;
	background-color: #f7f7f7;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
}

input {
	color: #2980b9;
	font-size: 15px;
	background-color: #f7f7f7;
	width: 100%;
	padding: 10px 10px 10px 20px;
	box-sizing: border-box;
	border: 5px solid rgba(0,0,0,0);
}

input:focus {
	border: 5px solid #2980b9;
	outline: none;
	background-color: #fff;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background-color: #fff;
	line-height: 50px;
	color: #666;
}

li:nth-child(2n) {
	background: #f7f7f7;
}

}

.checked {
	color: grey;
	text-decoration: line-through;
}

span {
	background-color: red;
	margin-right:20px;
	color: white;
	text-align: center;
	width: 0;
	opacity: 0;
	display: inline-block;
	transition: .4s;
}

li:hover span {
	width: 40px;
	opacity: 1;
}
















